.App {
	margin: 5%;
}
.search-box {
	margin: 2% 0;
	font-size: 1.4rem;
	padding: 5px;
	border-radius: 5px;
	color: #333;
}
p {
	font-size: 1.6rem;
	text-decoration: underline;
	color: #333;
}

.myLi {
	list-style-type: none;
	font-weight: bold;
}
